    <footer class="footer">
      <p><img src="/space.webp" width="1px" height="10px" alt=""></p>
      <ul>
        <li class="footer_link" aria-current="page"><a href="/">ホーム</a></li>
        <li class="footer_link"><a href="/yukkuri/">私式ゆっくり配布ページ</a></li>
        {% if page.url contains "/yukkuri/" %}
        <li class="footer_link"><a href="/yukkuri/rireki/">旧バージョン配布ページ</a></li>
        <li class="footer_link"><a href="/music/">フリーBGM配布場所</a></li>
        {% endif %}
        <li class="footer_link"><a href="/guideline/" rel="terms-of-service">素材の利用規約</a></li>
      </ul>
      <p><img src="/space.webp" width="1px" height="10px" alt=""></p>
      <div class="sns_icon">
        <img src="/space.webp" width="5px" height="1px"　alt="">
        <a href="https://www.youtube.com/@YUKKURI-NECONAVIKUN" aria-label="ねこナビくんのYouTube">
        <img src="/youtube_icon.png" title="私のYouTubeチャンネルです。" alt="YouTubeロゴ" width="25px" height="25px">
        </a>
        <img src="/space.webp" width="10px" height="1px"　alt="">
        <a href="https://x.com/23560comjp2/" aria-label="ねこナビくんのX">
          <img src="/x_icon.png" title="私のXアカウントです。" alt="Xロゴ" width="25px" height="25px">
        </a>
        <img src="/space.webp" width="10px" height="1px"　alt="">
        <a href="https://scratch.mit.edu/users/23560comjp/" aria-label="ねこナビくんのScratch">
          <img src="/scratch_icon.png" title="私のScratchアカウントです。(名前は23560comjpです)" alt="Scratchロゴ" width="25px" height="25px">
        </a>
        <img src="/space.webp" width="10px" height="1px"　alt="">
        <a href="https://nicovideo.jp/user/135678980/" aria-label="ねこナビくんのニコニコ">
          <img src="/niconico_icon.png" title="私のニコニコアカウントです。(名前は狐美です)" alt="ニコニコ動画ロゴ" width="25px" height="25px">
        </a>
        <img src="/space.webp" width="10px" height="1px"　alt="">
        <a href="https://bowlroll.net/user/1020791/" alt="ねこナビくんのBowlRoll">
          <img src="/bowlroll_icon.png" title="私のBowlRollアカウントです。" alt="BowlRollロゴ" width="25px" height="25px">
        </a>
        <img src="/space.webp" width="10px" height="1px"　alt="">
        <a href="/secret/" aria-label="秘密ページ">
          <img src="/space.webp" alt="" width="25px" height="25px">
        </a>
      </div>
    </footer>
